@import '../../../styles/variables.scss';

.profile_header {
    .nav {
        transition: .2s;

        &::before {
            content: '';
            position: absolute;
            transition: .2s;
            bottom: 0;
            width: 0%;
            height: 2px;
            border-radius: 50px;
            background-color: $primary-60;
            left: 50%;
            transform: translate(-50%);
        }

        &:hover {
            color: $primary-60;

            &::before {
                width: 100%;
            }
        }

        &.active {
            color: $primary-60;
            font-weight: 800;

            &::before {
                width: 100%;
            }
        }
    }
}
