@import '../../styles/variables.scss';

.ratio_wrapper {
    button {
        width: 64px;
        height: 40px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        font-size: 16px;
        color: $neutral-0;

        &:hover {
            background: rgba(0, 0, 0, 0.4);
        }

        &.active {
            background-color: $primary-50;
            color: $primary-80;
            font-weight: 700;
        }
    }
}
