@import '../../styles/variables.scss';

.form_wrapper {


    button[type="submit"] {
        transition: .4s;

        &:hover {
            background-color: $primary-48;
        }

        &:active {
            background-color: $primary-52;
        }
    }
}
