@import '../../styles/variables.scss';

.stories_list_wrapper {

    &>div:nth-child(1) {
        margin-bottom: 70px;
        z-index: 90 !important;

        @media screen and (min-width: 1024px) {
            margin-bottom: 8px;
        }
    }


    a,
    .post_story_btn {
        transition: .4s;
        outline: 1px solid transparent;


        &:focus-visible {
            outline: 1px solid transparent;
            box-shadow: 0 8px 16px -6px $primary-50;
        }
    }
}

.image_choose_wrapper {
    border: 2px dashed $primary-70;
    border-radius: 4px;

    input {
        &:focus-visible {
            outline-offset: 4px;
            outline: 1px solid $neutral-70;
            border-radius: 4px;
        }
    }
}